#page-heading{
    font-size: 4rem;
}
#up-heading{
    font-size: 2rem;
}
#header-button{
    /* width: 150px;
    height: 40px; */
    width:100%;
    margin: auto;
    font-size: 0.8rem;
}
#form-container{
    text-align: left;
}
#profile-detail-section{
    background-color: #161926;
    color: white;
}
#page-logo-div{
    text-align: end;
   
}